.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--main-color);
  }
  
  .about-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  