:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.dark .dark\:bg-dark-backgroundColor-primary {
  --tw-bg-opacity: 1;
  background-color: rgba(26, 32, 44, var(--tw-bg-opacity));
}

.dark .dark\:bg-dark-backgroundColor-secondary {
  --tw-bg-opacity: 1;
  background-color: rgba(45, 55, 72, var(--tw-bg-opacity));
}

.dark .dark\:bg-dark-backgroundColor-tertiary {
  --tw-bg-opacity: 1;
  background-color: rgba(74, 85, 104, var(--tw-bg-opacity));
}

.dark .dark\:text-dark-textColor-primary {
  --tw-text-opacity: 1;
  color: rgba(229, 231, 235, var(--tw-text-opacity));
}

.dark .dark\:text-dark-textColor-secondary {
  --tw-text-opacity: 1;
  color: rgba(156, 163, 175, var(--tw-text-opacity));
}

.dark .dark\:text-dark-textColor-tertiary {
  --tw-text-opacity: 1;
  color: rgba(107, 114, 128, var(--tw-text-opacity));
}


@tailwind base;
@tailwind components;
@tailwind utilities;